.block {
    height: 100vh;
    display: flex;
    flex-direction: column;
    grid-column: span 3;
    align-items: center;
    padding-top: 180px;
    gap: 24px;
}
.input_block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.login {
    color: #4C4CFF;
    text-decoration: none;
}